* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: #111120;
  color: #f1f1f1;
  font-family: "Cutive Mono", monospace;
  font-weight: 400;
  font-style: normal;

  display: flex;
  justify-content: center;
  align-items: center;
}

.info {
  text-align: center;
  margin: 2em;
  margin-bottom: 10em;
}

.identity {
  margin-bottom: 18px;
}

.face {
  display: inline-block;
  max-width: 100%;
  width: 192px;
}

.face > div {
  padding-top: 100%;
  border-radius: 100%;
  margin-bottom: 12px;

  background-image: url(/assets/images/my-sweaty-face.jpg);
  background-size: 256px;
  background-position-x: -31px;
  background-position-y: -22px;

  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);

  transition: all 0.4s;
}

.face:hover > div {
  transform: rotateX(180deg);
}

.name {
  font-size: 24px;
}

.links {
  display: flex;
  justify-content: space-around;
}

.links a {
  color: inherit !important;
  font-size: 1.32em;
  transition: all 0.2s;
  outline: none;
  padding: 0px 10px;
}

.links a i {
  transition: all 0.2s;
}

.links a:hover {
  opacity: 0.7;
}

.links a:hover i {
  transform: translateY(-7px);
}

.links a:active {
  opacity: 0.4;
}
